# Making Jupyter Notebooks Work for You
> A short worksheet

In this repo, we briefly explore 2 of the 3 topics presented on helping Jupyter notebooks work for you.

# Software development practice
## Example 1: Find the error
Although we wouldn't normally take this approach in practice, our objective here is to perform normalization on some of the colums of our dataframe.  This is for demonstrative purposes only.  Our approach might be to test the general steps on a single column and then try this on multiple columns.  Let's see how that works.

### Normalize a single column

In [1]:
import pandas as pd

In [75]:
#read data and drop rows with NA
data = pd.read_csv('https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv')
data = data.dropna().reset_index(drop=True)
data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
...,...,...,...,...,...,...,...,...
328,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
329,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
330,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
331,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
332,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

### Generalize to other columns

## On your own
1.  Identify potential problems with this setup.
2.  How do you fix this?

## Problems and solutions

# nbdev practice
This is relatively involved and something we can't really try on Colab quite yet.  We'll do a brief walkthrough for interested parties at the end if time allows to determine what future steps can be taken.  Otherwise, see this nbdev tutorial for more information on how to get started: https://nbdev.fast.ai/tutorial.html

# xeus-python debugging kernel
You can learn all about the debugging kernel here: https://blog.jupyter.org/a-visual-debugger-for-jupyter-914e61716559 .  In the meantime, let's give the default binder environment a try to see how the debugger can help us!  Here's a direct link to the binder demo: https://mybinder.org/v2/gh/jupyterlab/debugger/stable?urlpath=/lab/tree/examples/index.ipynb